<div class="bg-gray-100 min-h-screen p-6">
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-md mx-auto">
    <h2 class="text-2xl font-semibold mb-6 text-center">Add New Operation</h2>

    <%= form_with model: [@category, @operation], local: true, class: 'space-y-4' do |f| %>
      <div class="field">
        <%= f.label :name, class: 'block text-sm font-medium text-gray-600' %>
        <%= f.text_field :name, class: 'mt-1 p-2 w-full border rounded-md' %>
      </div>
      <div class="field">
        <%= f.label :amount, class: 'block text-sm font-medium text-gray-600' %>
        <%= f.number_field :amount, class: 'mt-1 p-2 w-full border rounded-md' %>
      </div>
      <div class="actions">
        <%= f.submit "Save", class: 'w-full p-2 text-center bg-blue-600 text-white rounded-md hover:bg-blue-700' %>
      </div>
    <% end %>

    <div class="mt-4">
      <%= link_to "Back", category_operations_path(@category), class: "block w-full text-center bg-gray-300 rounded py-2 hover:bg-gray-400" %>
    </div>
  </div>
</div>
